wf2.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "a9decced-06b7-4ba3-a5bb-634a13c59919",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "day-check",
              "leftValue": "={{ $json.ist_hour }}",
              "rightValue": 9,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "dfa3bc3c-e46d-4392-9499-572d5d158a55",
              "leftValue": "={{ $json.ist_hour }}",
              "rightValue": 23,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "998cda3a-a9ba-4b8a-8450-ebd8167ca433",
              "leftValue": "={{ $json.ist_day }}",
              "rightValue": "Sun",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "745422b5-f575-4c97-a50d-04532a3268c5",
      "name": "Business Hours? (9am-6pm IST, Mon-Sat)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        496,
        112
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appcTWhNkmILnwWg8",
          "mode": "list",
          "cachedResultName": "Dancing Cow Outbound",
          "cachedResultUrl": "https://airtable.com/appcTWhNkmILnwWg8"
        },
        "table": {
          "__rl": true,
          "value": "tbl2vBTRfaJAxqT9q",
          "mode": "list",
          "cachedResultName": "CRM",
          "cachedResultUrl": "https://airtable.com/appcTWhNkmILnwWg8/tbl2vBTRfaJAxqT9q"
        },
        "filterByFormula": "{status} = 'To_call'",
        "returnAll": false,
        "limit": 1,
        "options": {},
        "sort": {
          "property": [
            {
              "field": "last_called"
            }
          ]
        }
      },
      "id": "f58a5493-b2fd-46b4-8a75-e3e9c4a33e65",
      "name": "Fetch Next Lead",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        720,
        112
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "LJwhCVvgGGNgP3a4",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "record-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "90204822-2465-4a7a-8391-fa644dd00dca",
      "name": "Lead Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        944,
        112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "record-id",
              "name": "record_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "cafe-name",
              "name": "cafe_name",
              "value": "={{ $json.Cafe_name }}",
              "type": "string"
            },
            {
              "id": "owner-name",
              "name": "owner_name",
              "value": "={{ $json.owner_name }}",
              "type": "string"
            },
            {
              "id": "phone-raw",
              "name": "phone_raw",
              "value": "={{ $json.phone.toString().startsWith('+91') ? $json.phone : $json.phone.toString().startsWith('91') ? '+' + $json.phone : '+91' + $json.phone.toString().replace(/^0/, '') }}",
              "type": "string"
            },
            {
              "id": "city",
              "name": "city",
              "value": "={{ $json.city }}",
              "type": "string"
            },
            {
              "id": "prospect-type",
              "name": "prospect_type",
              "value": "={{ $json.prospect_type }}",
              "type": "string"
            },
            {
              "id": "21dad365-d70d-460b-b857-a48330beaa2c",
              "name": "call_count",
              "value": "={{ $json.call_count }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "741ac152-b5a6-4336-8b6b-b90e6d7d9de9",
      "name": "Format Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        96
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appcTWhNkmILnwWg8",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl2vBTRfaJAxqT9q",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Format Lead Data').item.json.record_id }}",
            "Status": "Calling",
            "last_called": "={{ new Date().toISOString() }}",
            "call_count": "={{ $('Fetch Next Lead').item.json.call_count +1}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Cafe_name",
              "displayName": "Cafe_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "To_call",
                  "value": "To_call"
                },
                {
                  "name": "Calling",
                  "value": "Calling"
                },
                {
                  "name": "Callback",
                  "value": "Callback"
                },
                {
                  "name": "Not_interested",
                  "value": "Not_interested"
                },
                {
                  "name": "Invalid",
                  "value": "Invalid"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sample_booked",
              "displayName": "sample_booked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "owner_name",
              "displayName": "owner_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "prospect_type",
              "displayName": "prospect_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Cafe",
                  "value": "Cafe"
                },
                {
                  "name": "Hotel",
                  "value": "Hotel"
                },
                {
                  "name": "Restaurant",
                  "value": "Restaurant"
                },
                {
                  "name": "Corporate",
                  "value": "Corporate"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scheduled_date",
              "displayName": "Scheduled_date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "last_called",
              "displayName": "last_called",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "call_count",
              "displayName": "call_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vapi_call_id",
              "displayName": "Vapi_call_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Call_outcome",
              "displayName": "Call_outcome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Hot_lead",
                  "value": "Hot_lead"
                },
                {
                  "name": "Warm_lead",
                  "value": "Warm_lead"
                },
                {
                  "name": "Call_back",
                  "value": "Call_back"
                },
                {
                  "name": "Info_sent",
                  "value": "Info_sent"
                },
                {
                  "name": "Not_interested",
                  "value": "Not_interested"
                },
                {
                  "name": "Voice_mail",
                  "value": "Voice_mail"
                },
                {
                  "name": "Wrong_Number",
                  "value": "Wrong_Number"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Transcript",
              "displayName": "Transcript",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_summary",
              "displayName": "ai_summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "whatsapp_sent",
              "displayName": "whatsapp_sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "key_objection",
              "displayName": "key_objection",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "54f00a97-5d41-499f-94b4-a86eb4387378",
      "name": "Set Status = Calling",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1376,
        112
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "LJwhCVvgGGNgP3a4",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appcTWhNkmILnwWg8",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbl2vBTRfaJAxqT9q",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set Status = Calling').item.json.id }}",
            "Vapi_call_id": "={{ $json.call_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Cafe_name",
              "displayName": "Cafe_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "To_call",
                  "value": "To_call"
                },
                {
                  "name": "Calling",
                  "value": "Calling"
                },
                {
                  "name": "Callback",
                  "value": "Callback"
                },
                {
                  "name": "Not_interested",
                  "value": "Not_interested"
                },
                {
                  "name": "Invalid",
                  "value": "Invalid"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "sample_booked",
              "displayName": "sample_booked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "owner_name",
              "displayName": "owner_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "prospect_type",
              "displayName": "prospect_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Cafe",
                  "value": "Cafe"
                },
                {
                  "name": "Hotel",
                  "value": "Hotel"
                },
                {
                  "name": "Restaurant",
                  "value": "Restaurant"
                },
                {
                  "name": "Corporate",
                  "value": "Corporate"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Scheduled_date",
              "displayName": "Scheduled_date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "last_called",
              "displayName": "last_called",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "call_count",
              "displayName": "call_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Vapi_call_id",
              "displayName": "Vapi_call_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call_outcome",
              "displayName": "Call_outcome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Hot_lead",
                  "value": "Hot_lead"
                },
                {
                  "name": "Warm_lead",
                  "value": "Warm_lead"
                },
                {
                  "name": "Call_back",
                  "value": "Call_back"
                },
                {
                  "name": "Info_sent",
                  "value": "Info_sent"
                },
                {
                  "name": "Not_interested",
                  "value": "Not_interested"
                },
                {
                  "name": "Voice_mail",
                  "value": "Voice_mail"
                },
                {
                  "name": "Wrong_Number",
                  "value": "Wrong_Number"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Transcript",
              "displayName": "Transcript",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ai_summary",
              "displayName": "ai_summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "whatsapp_sent",
              "displayName": "whatsapp_sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "key_objection",
              "displayName": "key_objection",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "eecf8487-8fa6-42e0-b977-d93b9e3935f8",
      "name": "Save VAPI Call ID",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1824,
        112
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "LJwhCVvgGGNgP3a4",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "b942a95d-0124-4892-acaf-69e2f4ce0230",
      "name": "Wait 8s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2032,
        112
      ],
      "webhookId": "wait-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab35de13-0924-48c4-af15-f47124830bd0",
              "name": "ist_hour",
              "value": "={{ Number(new Date().toLocaleString('en-US',{timeZone:'Asia/Kolkata',hour:'numeric',hour12:false})) }}",
              "type": "number"
            },
            {
              "id": "bfb6b9c8-4f02-456d-98cd-21c7ab3bbd23",
              "name": "ist_day",
              "value": "={{ new Date().toLocaleString('en-US',{timeZone:'Asia/Kolkata',weekday:'short'}) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        112
      ],
      "id": "96b7fead-d84c-4234-bd0e-db1b13cb0365",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "# AI caller\n",
        "height": 368,
        "width": 2272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "99b8f46c-0abf-4a88-9573-517109841718",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://192.168.29.199:8090/make-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Format Lead Data').item.json.phone_raw }}\",\n  \"cafe_name\": \"={{ $('Format Lead Data').item.json.cafe_name }}\",\n  \"owner_name\": \"={{ $('Format Lead Data').item.json.owner_name }}\",\n  \"city\": \"={{ $('Format Lead Data').item.json.city }}\",\n  \"prospect_type\": \"={{ $('Format Lead Data').item.json.prospect_type }}\",\n  \"airtable_record_id\": \"={{ $('Format Lead Data').item.json.record_id }}\"\n}",
        "options": {}
      },
      "id": "dd85014f-ab2b-4c46-b1d3-574278a3ab82",
      "name": "Trigger Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        112
      ]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Hours? (9am-6pm IST, Mon-Sat)": {
      "main": [
        [
          {
            "node": "Fetch Next Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Next Lead": {
      "main": [
        [
          {
            "node": "Lead Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Found?": {
      "main": [
        [
          {
            "node": "Format Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Lead Data": {
      "main": [
        [
          {
            "node": "Set Status = Calling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status = Calling": {
      "main": [
        [
          {
            "node": "Trigger Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save VAPI Call ID": {
      "main": [
        [
          {
            "node": "Wait 8s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Business Hours? (9am-6pm IST, Mon-Sat)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Call": {
      "main": [
        [
          {
            "node": "Save VAPI Call ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "4ba183479babf546be90ac951d11e05ee27366edf93cc25020b49c8c6f5d5a3a"
  }
}